body {
 background-color: #FFF;
 padding-right: 0px !important; overflow: none !important;
}

.App {
  margin-top: 100px;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sidebar {
  position: absolute;
  top: 70px;
  left: -60vw;
  width: 18%;
  transition: left 0.3s ease-in-out;
  background-color: #FFFFFF;
  padding: 20px 0px 20px 20px;
  z-index: 2;
}
.content {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  transition: left 0.3s ease-in-out;
  background-color: #FFF;
  border: solid 20px #EEE;
  padding: 30px;
}
.sidebar.open {
  left: 0;
}
.content.open {
 left: 20%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 920px) {
  .sidebar {
    left: 0px;
    width: 90%;
    height: 100%;
    padding: 20px;
  }
  .sidebar.open {
    left: -90vw;
    transition: left 0.3s ease-in-out;
    background-color: #FFFFFF;
    padding: 0px;
    z-index: 2;
  }
  .content.open {
    left: 0%;
   }
   .content {
    border: solid 10px #EEE;
    padding: 10px;
  }
}